<h1>{{name}}</h1>
<img src='{{flag}}' alt='{{flag}}' width='120' />

<p><b>Capital:</b> {{capital}}</p>
<p><b>Population:</b> {{population}} people</p>
<p><b>Languages: </b></p>
<ul class='languages'>

  {{#each languages}}
    <li>
      {{name}}
    </li>
  {{/each}}
</ul>